@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;700;900&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
    text-align: center;
}
body{
    background-color: var(--body-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-align: center;
    transition: 2s ease-in-out;
    
    
   
}
*::selection{
    background-color: var(--hover-color);
    color:var(--body-color);
}
/* ==============Menu bar ================== */
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20%;
   right: 3%;
    border: 2px solid var(--hover-color);
    background-color: transparent;
    border-radius: 25px;
    position: fixed;
    z-index: 10;
    padding: 10px;
   
}
.menu:hover{
    background-color: rgba(0, 0, 0, 0.339);
    box-shadow:  2px 3px 25px var(--hover-color);
}
.nav-item{
    top:50%;
    width: 50px;
    height: 50px;
    background-color: var(--hover-color);
    border-radius: 50%;
    margin: 10px auto;
    font-size: 1.8rem;
    color: var(--body-color);
    
}
.active-btn{
    background-color: var(--text-color);
}
.nav-item:hover{
    background-color: var(--text-color);
}

/* ===========Main Content================= */
#home{
   margin: 30px auto;
   border-bottom: 1px solid var(--box-color);
   padding: 10px;
}
.top-image img{
   
    width: 500px ;
    height: auto;
}
.top-heading{
   margin: auto;
    top:50%;
    font-family: "Montserrat";
    font-weight: 400; /* black */
    text-align: center;
    line-height: 5;
    
}
.title{
    font-family: "Anton";
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 12px var(--hover-color);
}
.top-heading p{
    letter-spacing: 1rem;
    transition: 1s ease;
}

/* ========= About Me =============== */
.about-me{
    width: 80%;
    text-align: center;
    margin: 15px auto;
    background-color: var(--box-color);
    padding: 15px;
    
}
.about-me h1{
    color: var(--hover-color);
    margin-bottom: 20px;
}
.about-me p{
    text-align: justify;
    font-family: "ubuntu";
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.about-img a{
    color: var(--text-color);
    margin: 5px;
    transform: rotate(0deg);
    transition: .5s ease;
}
.about-img a:hover{
    color: var(--hover-color);
    transform: rotate(300deg);
}
/* /////////// SKill Css Start ////////////////////// */
.skills{
    text-align: center;
    color: var(--hover-color);
    padding: 25px;
    background-color: var(--body-color);

/*    
    width: 70%; */
    margin:20px auto;
    /* box-shadow: inset 2px 2px 50px var(--shadow-color); */
  
}

/* .front-end, .back-end{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */



.progress{
    border-radius: none;
    background-color: var(--text-color);
    overflow: hidden;

}
.glow-90{
    background-color: var(--hover-color);
 
    box-shadow: 1px 1px 18px 5px var(--hover-color);
    transition: .5s ease;
    
}

  

#frontend h4{
    text-align: left;
    color:white;
    font-size: 1rem;
    float: left;
}
#frontend p{
    text-align: right;
    float: right;
   
}
/* ///////////// Services ///////////////////////////// */
#services{
    margin:10px  auto;
    text-align: center;
    width: 90%;
    /* border: 2px solid var(--hover-color); */
    padding: 20px;
}
.services-header{
    margin: 10px auto;
}
.services-header h1 {
    line-height: 5;
}
.service-box{
    margin: 10px auto;
    border: 2px solid var(--hover-color);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 4rem;
    padding: 10px;

}
#services .fa-brands , #services .fa-solid{
    margin: 80px auto;
    
} 
#services h1{
    font-family: "Montserrat";
    font-size: 1.8rem;
}
#services p{
    text-align: justify;
}
.service-card{
    /* border: 2px solid var(--hover-color); */
   
  
}
.first-part-services , .first-part-services{
    margin: 10px auto;
}
/* ////// Scroll animation ////////////////////// */
.animation{
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.4s ease-out;
    transition-delay: 0.4s;
    transform: skewX(20deg);
  

}
.scroll-animation {
    opacity: 1;
    transform: translateX(0);
    transform: skewX(0deg);
   
}
#first-part-services{
    width: 100%;
}
/* ////////////////// Testimonial css/////////////////////////// */
#testimonial{
    width: 80%;
    min-height:600px ;
    margin: 20px auto;
    font-size: 1.8rem;
    padding: 20px;
    font-family: "ubuntu";
    font-weight: 300;
    background-color: var(--body-color);
    color: var(--text-color);
    border: 2px solid var(--hover-color);
}
#testimonial:hover{
    box-shadow: 2px 3px 50px var(--hover-color);
}
.testimonial{
    margin: 10px auto;
  
    padding: 10px;
}
.carousel-item{
    padding: 20px;
 
}
#testimonial h1{
    text-align: center;
    margin: auto;
}
#testimonial p{
    text-align: center;
    padding: 10px;
    margin: auto;
}
/* ///////////Portfolio css///// */
.card{
    background-color: var(--hover-color);
    color: var(--box-color);
    margin: 10px auto;
    overflow: hidden;
}
.card-body{
    overflow: hidden;
}
.card .btn{
    background-color: var(--box-color);
    color: var(--hover-color);
    margin: auto;
}
.img-tax,.img-dice ,.img-keeper{
    transition: 2s ease;
}
.img-tax:hover ,
.img-keeper:hover,
.img-dice:hover
{
   transform: scale(1.5);
  }
  .img-container{
    overflow: hidden;
  }
  /* /////////////// Contact us //////////////////////// */
  #contact{
    margin:20px auto;
    width: 80%;
    border: 2px solid var(--hover-color);
    padding: 15px;
    
  }
  #contact:hover{
    box-shadow: 2px 4px 15px var(--hover-color);
  }
  .form-group {
    text-align: left;
  }
.btn{
    background-color: var(--box-color);
    border:2px solid var(--hover-color) ;
    float: right;
}
.btn:hover{
    background-color: var(--hover-color);
    color: var(--body-color);
    border:2px solid var(--hover-color) ;
}
  input{
    text-align: left;
    outline:none;
  }
  input:hover ,input:focus{
    box-shadow: 2px 2px 5px var(--hover-color);
   
  }
  .logo img{
    margin: 50px auto;
  }
  .logo img:hover{
    box-shadow: inset 2px 2px 15px var(--hover-color);
  }
  .footer{
    width: 80%;
    margin:10px auto;

  }
  .footer div{
    text-align: center;
    margin: auto;
  }
/* 
  /////////////// */
  
  .portfolio-title{
    margin: 10px auto;
    line-height: 5;
  }